# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [55]:
import pandas as pd

In [56]:
import json
from pandas.io.json import json_normalize

In [57]:
from numpy import nan

# Question 1- Find the 10 countries with most projects

In [153]:
df1=pd.read_json('data/world_bank_projects.json')['countryname'].value_counts().reset_index()[:10]
df1.columns=['countryname','Project_count']
df1.head(10)

                       countryname  Project_count
0       People's Republic of China             19
1            Republic of Indonesia             19
2    Socialist Republic of Vietnam             17
3                Republic of India             16
4                Republic of Yemen             13
5  People's Republic of Bangladesh             12
6               Kingdom of Morocco             12
7                            Nepal             12
8           Republic of Mozambique             11
9                           Africa             11

# Question 2- Find the top 10 major project themes

In [152]:
# load json as string
df_theme=json.load((open('data/world_bank_projects.json')))
themes=json_normalize(df_theme, 'mjtheme_namecode')

In [117]:
#Get the count of the code
codecnt=themes['code'].value_counts()
codecnt.name='counts'
codecnt.columns=['code','Theme_count']
codecnt

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
3      15
Name: counts, dtype: int64

In [106]:
#Display code name
codename=themes.replace('',nan).dropna().groupby('code').last()                                              
codename

                                              name
code
1                              Economic management
10                               Rural development
11    Environment and natural resources management
2                         Public sector governance
3                                      Rule of law
4         Financial and private sector development
5                            Trade and integration
6            Social protection and risk management
7                      Social dev/gender/inclusion
8                                Human development
9                                Urban development

In [116]:
#Combining above two answers to get a final dataframe
pd.DataFrame([codename['name'],codecnt]).transpose().sort_values('counts',ascending=False)

                                            name counts
11  Environment and natural resources management    250
10                             Rural development    216
8                              Human development    210
2                       Public sector governance    199
6          Social protection and risk management    168
4       Financial and private sector development    146
7                    Social dev/gender/inclusion    130
5                          Trade and integration     77
9                              Urban development     50
1                            Economic management     38
3                                    Rule of law     15

# 3.Question 3- Create a dataframe with the missing names filled in.

In [150]:
themes['name']=themes['code']
themes['name'].replace(to_replace=codename.index.values,value=codename.values,inplace=True)
themes

     code                                          name
0       8                             Human development
1      11  Environment and natural resources management
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6         Social protection and risk management
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8                             Human development
18     10                             Rural development
19      7                   Social dev/gender/inclusion
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2                      Public sector governance
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4      Financial and private sector development
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11  Environment and natural resources management
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5                         Trade and integration
1482    6         Social protection and risk management
1483    8                             Human development
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6         Social protection and risk management
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]